{
  "env": {
    "node": true
  },
  "rules": {
    "strict": 0,
    "camelcase": [1, {"properties": "never"}],
    "curly": [2, "multi-line"],
    "quotes": [1, "single"],
    "no-shadow": 0,
    "no-trailing-spaces": [1, {
      "skipBlankLines": true
    }],
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "no-unused-expressions": 0,
    "space-after-keywords": 1,
    "space-before-blocks": 1,
    "space-before-function-paren": [1, {
      "anonymous": "always",
      "named": "never"
    }]
  }
}
